#Change-Position{
	/*this id is used to bring the word 
	to the front of the image*/
	position: relative;
	font-size: 170px;
	top: -530px;
	
	color: white;
	z-index: 2;
	
}

#Page_Section2
{
	
	height:100%; 
	width:100%;
	position: static;
	background-position: 100% 100%;
    z-index: -2
}

#Page_Section1
{
	position: relative;
	height:100%; 
	width:100%;
	background-position: 100% 100%;
    z-index: -1
}

#page_container{
	font-size: 45px;
	height:400px;
    width:400px;
    position:relative;
}

