/*
#page_container{
	font-size: 45px;
	height:400px;
    width:400px;
    position:relative;
}*/
#First_section
{

	width: 100%;
	position: relative;
	height: 740px;
	background: url(web-Pictures/tumblr_mfjz2obSo31rqmuhto1_500.jpg) no-repeat center center fixed;
	background-size: cover;
}
#Second_section
{
	display:block;
	width: 100%;
	position: relative;

	min-height: 290px;
	
	background-size: cover;
}
#Third_section
{
	width: 100%;
	position: relative;
	min-height: 740px;
	background: url(web-Pictures/tumblr_mg83ngS4E61qckcjqo1_1280.jpg) no-repeat center center fixed;
	background-size: cover;

}
#Fourth_section
{
	width: 100%;
	position: relative;
	height: 290px;
	background-size: cover;
}
#Fifth_Section
{
	width: 100%;
	position: relative;
	min-height: 740px;
	background: url(web-Pictures/tumblr_mlzphewG1j1qmlbzfo1_500.gif) no-repeat center center ;
	background-size: cover;

}
.center_HomeSection1
{
	position: absolute;
	
	padding-top: 21%;
	padding-left: 3%;

	color: white;
	/*these cause the page to go over the normal margins*/
	/*top: 35%;*/
	/*left: 11%;*/
}
.center_HomeSection1:hover
{
color:red;
}
.center_HomeSection
{
	position: absolute;
	
	padding-top: 22%;
	padding-left: 3%;
	color: white;
	/*these cause the page to go over the normal margins*/
	/*top: 35%;*/
	/*left: 11%;*/
}
.center_HomeSection:hover
{
color:red;
}
.button_TopSection
{
	position: absolute;
	width: 10%;
	height: 10%;

	/*this is causing the page to shift over to the right*/
	top: 86%;
	left: 46%;
}

div h1
{
	font-size: 110px;
}

#Sec2col1_image
{
	height:0px;
	width: 0px;
	
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo1_250.gif) ;
}
#Sec2col1_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo2_250.gif) ;
}
#Sec2col2_image
{
	height:0px;
	width: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo5_250.gif);
	padding: 100px;
}
#Sec2col2_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo6_250.gif);
}
#Sec2col3_image
{
	height:0px;
	width: 0px;
	background-position: center;
	background-repeat: no-repeat;
	/*causes the images to fill the round area*/
	background-size: cover;

	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo7_250.gif);
	padding: 100px;
}
#Sec2col3_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo8_250.gif);
}

#ThirdSec_title
{
	padding-top: 30px; 
	color: white;
}
.ThirdSec_Content
{
	background-color: #faebd7; 
	

}
.ThirdSec_Content:hover
{
	background-color: #faebd7; 
	opacity: .4;

}
/*.ThirdCont_container
{
	
	height: 113px;

}*/

.GallerySize
{
   
}

#Gal_img1
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mf7k6akLQj1qie36do1_500.png);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{

}
#Gal_img2
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mxrjokJaQx1rrovtvo1_500.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}

#Gal_img3
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m0wq7mCBcW1rrizguo1_500.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img4
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mb8nc2FvVs1qz4d4bo1_500.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img5
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m2uty95zx01qajb7oo1_r1_500.gif);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img6
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m2yfcbtCYr1qg39ewo1_500.gif);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img7
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m4zpwlSFnu1r45mxho1_500.gif);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img8
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m6i94vuRhN1qbsg6oo1_1280.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img9
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mg2g8gWanj1qd5adqo1_1280.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img10
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m35a4jsioT1rtfzilo1_500.gif);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img11
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m75v05oWpV1qjri7so1_500.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img12
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mg93zzPRLV1qg5ngpo1_400.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img13
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mdfbsluDqH1qdaw6do1_500.png);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img14
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m8oi41Qv8E1qdgrdto1_1280.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img15
{
	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_mek44qrHSr1rorlslo1_500.png);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}
#Gal_img16
{

	height: 113px;
	width: 112px;
   background-image: url(web-Pictures/tumblr_m1pvs8SISB1qgo1wyo1_500.jpg);
   background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#Gal_img1:hover
{
	
}

#Sec4col1_image
{
	height:0px;
	width: 0px;
	
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	background-image: url(web-Pictures/tumblr_mdfkl9GZzF1qbm0wno1_500.jpg) ;
}
#Sec4col2_image
{
	height:0px;
	width: 0px;
	
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	background-image: url(web-Pictures/tumblr_mms1mfjRAT1qj6juso1_500.gif) ;	
}
#Sec4col3_image
{
	height:0px;
	width: 0px;
	
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	background-image: url(web-Pictures/tumblr_mlw6wypTNP1rpfx57o1_500.gif) ;
}
/*this id is used to bring the word 
	to the front of the image*/
/*#Change-Position{
	
	position: relative;
	font-size: 170px;
	top: -530px;
	
	color: white;
	z-index: 2;
	
}
*/

/*#Page_Section2
{
	
	height:100%; 
	width:100%;
	position: static;
	background-position: 100% 100%;
    z-index: -2
}

#Page_Section1
{
	position: relative;
	height:100%; 
	width:100%;
	background-position: 100% 100%;
    z-index: -1
}*/
