/*
#page_container{
	font-size: 45px;
	height:400px;
    width:400px;
    position:relative;
}*/
#First_section
{
	width: 100%;
	position: relative;
	height: 740px;
	background: url(web-Pictures/tumblr_mfjz2obSo31rqmuhto1_500.jpg) no-repeat center center fixed;
	background-size: cover;
}
#Second_section
{
	width: 100%;
	position: relative;
	min-height: 290px;
	
	background-size: cover;
}
#Third_section
{
	width: 100%;
	position: relative;
	height: 740px;
	background: url(web-Pictures/tumblr_mg83ngS4E61qckcjqo1_1280.jpg) no-repeat center center fixed;
	background-size: cover;

}
#Fourth_section
{
	width: 100%;
	position: relative;
	height: 740px;
	background: url(web-Pictures/tumblr_mov3wpx3aW1r5h04to1_500.gif) no-repeat center center fixed;
	background-size: cover;
}
.center_HomeSection
{
	position: absolute;
	width: 100%;
	height: 50%;
	padding-top: 21%;
	padding-left: 3%;
	color: white;
	/*these cause the page to go over the normal margins*/
	/*top: 35%;*/
	/*left: 11%;*/
}
.center_HomeSection:hover
{
color:red;
}
.button_TopSection
{
	position: absolute;
	width: 10%;
	height: 10%;

	/*this is causing the page to shift over to the right*/
	top: 85%;
	left: 46%;
}

div h1
{
	font-size: 110px;
}

#col1_image
{
	height:0px;
	width: 0px;
	
	padding: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo1_250.gif) ;
}
#col1_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo2_250.gif) ;
}
#col2_image
{
	height:0px;
	width: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo5_250.gif);
	padding: 100px;
}
#col2_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo6_250.gif);
}
#col3_image
{
	height:0px;
	width: 0px;
	background-position: center;
	background-repeat: no-repeat;
	/*causes the images to fill the round area*/
	background-size: cover;

	background-image: url(web-Pictures/tumblr_miuiexlStf1qfv89lo7_250.gif);
	padding: 100px;
}
#col3_image:hover
{
	background-image:url(web-Pictures/tumblr_miuiexlStf1qfv89lo8_250.gif);
}

#ThirdSec_title
{
	padding-top: 30px; 
}
.ThirdSec_Content
{
	background-color: #faebd7; 
	

}
.ThirdSec_Content:hover
{
	background-color: #faebd7; 
	opacity: .4;

}
#ThirdCont_container
{
	
	height: 113px;

}
/*this id is used to bring the word 
	to the front of the image*/
/*#Change-Position{
	
	position: relative;
	font-size: 170px;
	top: -530px;
	
	color: white;
	z-index: 2;
	
}
*/

/*#Page_Section2
{
	
	height:100%; 
	width:100%;
	position: static;
	background-position: 100% 100%;
    z-index: -2
}

#Page_Section1
{
	position: relative;
	height:100%; 
	width:100%;
	background-position: 100% 100%;
    z-index: -1
}*/
